@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.max-width {
  max-width: 1360px;
  width: 100%;
  margin: 0 auto;
}

@layer components {
  .section-container {
    @apply py-32;
  }
  .section-title {
    @apply mb-4 w-full text-5xl font-extrabold leading-snug text-white;
  }
  .section-description {
    @apply text-2xl text-[#A7A9BE];
  }
}
